html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* --- Colours --- */
body {
  margin: 0;
  background: #d8b9d7;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.madeline-container {
  width: 40.5vmin;
  height: 91.8vmin;
  position: relative;
  background: url("https://i.pinimg.com/236x/b3/7e/3f/b37e3fe59e38fdcd3ca9b7cd63fb0063--strong-character-s-kids.jpg") 53.5% 340% no-repeat;
  background-size: auto 96%;
  z-index: -20;
}

.balloon {
  width: 49%;
  height: 24%;
  position: absolute;
  background-color: #dd2602;
  border-radius: 50%;
  top: 0;
  left: 0;
}

.balloon::after {
  content: '';
  width: 2vmin;
  height: 2vmin;
  display: block;
  position: absolute;
  background-color: #dd2602;
  -webkit-clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
  position: absolute;
  top: 101%;
  left: 45%;
  border-radius: 40%;
  -webkit-transform: rotate(124deg) skew(-27deg);
          transform: rotate(124deg) skew(-27deg);
}

.balloon::before {
  content: '';
  width: 0.1vmin;
  height: 25vmin;
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 100%;
  left: 50.5%;
  -webkit-filter: blur(0.3px);
          filter: blur(0.3px);
}

.head {
  width: 79%;
  height: 26%;
  position: relative;
  top: 40%;
  left: 11.5%;
}

.head::before, .head::after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  background-color: transparent;
  z-index: -10;
  border-bottom: 7vmin solid #000;
}

.head::before {
  border-right: 6vmin solid transparent;
  top: 5%;
  left: 31.5%;
  -webkit-transform: rotateZ(-8deg);
          transform: rotateZ(-8deg);
}

.head::after {
  border-left: 6vmin solid transparent;
  top: 2%;
  left: 42.5%;
  -webkit-transform: rotateZ(-3.5deg);
          transform: rotateZ(-3.5deg);
}

.head__hair, .head__hair--fringe {
  width: 80%;
  height: 47%;
  position: absolute;
  top: 52%;
  left: 12%;
  border-radius: 50% 50% 60% 60% / 90% 90% 35% 35%;
  -webkit-transform: rotateZ(2.5deg);
          transform: rotateZ(2.5deg);
  overflow: hidden;
}

.head__hair {
  background-color: #d25317;
}

.head__hair--fringe::before, .head__hair--fringe::after {
  content: '';
  width: 38%;
  height: 30%;
  display: block;
  position: absolute;
  background-color: #d25317;
  border-radius: 50%;
}

.head__hair--fringe::before {
  top: -5%;
  left: 22%;
  -webkit-transform: rotate(-14deg);
          transform: rotate(-14deg);
}

.head__hair--fringe::after {
  top: -10%;
  left: 50%;
  -webkit-transform: rotate(14deg);
          transform: rotate(14deg);
}

.head__face {
  width: 44%;
  height: 42%;
  border-radius: 70% 70% 60% 70% / 90% 80% 60% 70%;
  z-index: 0;
  background: radial-gradient(12% 8% at 58% 60%, #efdebd 0.5vmin, transparent 0.7vmin), radial-gradient(10% 8% at 59% 63%, rgba(0, 0, 0, 0.7) 0.4vmin, transparent 0.6vmin), linear-gradient(50deg, transparent 49%, #efdebd 50%), radial-gradient(2.4% 1.2% at 53.5% 73.5%, #efdebd 2vmin, transparent 2.2vmin), radial-gradient(2.2% 1.2% at 54% 76%, rgba(0, 0, 0, 0.7) 2vmin, transparent 2.2vmin), #efdebd;
  position: absolute;
  top: 57%;
  left: 33.5%;
}

.head__face::before, .head__face::after {
  content: '';
  width: 5%;
  height: 10%;
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
}

.head__face::before {
  top: 32%;
  left: 34%;
}

.head__face::after {
  top: 34%;
  left: 72%;
}

.head__hat {
  width: 84%;
  height: 36%;
  background-color: #f7e957;
  border-radius: 70% 70% 50% 50% / 90% 90% 65% 65%;
  position: absolute;
  top: 28%;
  left: 15%;
  -webkit-transform: rotateZ(4deg);
          transform: rotateZ(4deg);
}

.body {
  border: 1px dashed green;
  width: 66%;
  height: 34.4%;
  position: absolute;
  top: 65.6%;
  left: 23.5%;
}

.body::before {
  content: '';
  width: 84%;
  height: 66%;
  display: block;
  position: absolute;
  background-color: #010152;
  border-radius: 50% / 100% 100% 0% 0%;
  rotate: -3deg;
  top: 0;
  left: 3%;
  background: linear-gradient(-72.8deg, transparent 35%, #010152 35.5%, #010152 77%, transparent 77.5%), linear-gradient(74deg, transparent 42%, #010152 42.5%, #010152 78%, transparent 78.5%);
}

.body::after {
  content: '';
  width: 82.3%;
  height: 18%;
  display: block;
  position: absolute;
  background-color: #010152;
  border-radius: 50%;
  top: 56.7%;
  left: 5.78%;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.body__leg-l, .body__leg-r {
  content: '';
  width: 13%;
  height: 28%;
  display: block;
  position: absolute;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(52%, #efdebd), color-stop(52.5%, #fff));
  background: linear-gradient(#efdebd 52%, #fff 52.5%);
}

.body__leg-l::before, .body__leg-r::before {
  content: '';
  width: 130%;
  height: 25%;
  display: block;
  position: absolute;
  background-color: #010152;
  top: 96%;
  z-index: -10;
}

.body__leg-l {
  top: 69%;
  left: 12.8%;
  border-radius: 0 0 50% 50% / 0 0 5% 8%;
  rotate: 18deg;
}

.body__leg-l::before {
  left: -28%;
}

.body__leg-r {
  top: 68%;
  left: 72%;
  border-radius: 0 0 50% 50% / 0 0 10% 5%;
  rotate: -33deg;
}

.body__leg-r::before {
  left: 0%;
}
